# Configuración para API - Puerto específico
PORT=3000

# Configuración de desarrollo
NODE_ENV=development

# Configuración de base de datos (ya configurada en server.js)
# DB_HOST=34.63.133.132
# DB_USER=Pato
# DB_PASSWORD=Zamora_2004
# DB_NAME=zoomtv_db
# DB_PORT=3306
